<div class="px-4 py-5 my-5 text-center  shadow" >
    <img class="imgredonda border" src="../../../assets/images/responsive.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-white">Responsive design</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">        
        Realizamos diseños innovadores y adaptables para todo tipo de dispositivos utilizando marcos de trabajo como:
      </p>
      <div class="row justyf">
        <div class="col-md-7">
          <span class="badge bg-white text-dark me-1">Bootstrap</span>           
          <span class="badge bg-white text-dark me-1">Materialize</span>
        </div>                                                                           
      </div>
    </div>
  </div>  