<div id="planes" class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold" style="color: white;">Planes y paquetes</h1>
    <p class="fs-5 text-muted" style="color: white;">
     Elige el plan que mejor se adapte a ti y a tu negocio.
    </p>
  </div>

  <div class="container">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center shadow">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm efect">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Normal</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$2500<small class="text-muted fw-light">/un solo pago*</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 año en la web</li>
            <li>Hosting</li>
            <li>Dominio</li>
            <li>Cambios cada 2 meses*</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg button1" >Me interesa</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm efect">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro+</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
            <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
          </svg>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$3500<small class="text-muted fw-light">/un solo pago*</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 año en la web</li>
            <li>Hosting</li>
            <li>Dominio</li>
            <li>Cambios cada mes</li>
            <li>SEO</li>
            <li>Soporte</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg button2">Me interesa</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-warning efect">
        <div class="card-header py-3 text-white bg-warning border-warning">
          <h4 class="my-0 fw-normal">Aplicaci&oacute;n web</h4>          
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$1500<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Sistema punto de venta o control de inventario</li>
            <li>Dashboard</li>
            <li>Login</li>
            <li>Roles de usuario</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Me interesa</button>
        </div>
      </div>
    </div>
  </div>
  </div>

