<!--TARGET-->
<div class="container">
    <div class="row ">
      <div class="col-xs-4">
        <div class="card">
          <div class="card-body text-center">

            <h2 class="fw-bold">Diseñamos y desarrollamos tu pagina web</h2>
            <p class="grey-text mb-2">Tales como:</p>
            <div class="row justyf">
              <div class="col-md-7">
                <span class="badge bg-dark text-white me-1">Sitios web corporativos</span>
                <span class="badge bg-dark text-white me-1">Blogs</span>
                <span class="badge bg-dark text-white me-1">Micrositios</span>
                <span class="badge bg-dark text-white me-1">Landing pages</span>
                <span class="badge bg-dark text-white me-1">Portafolios</span> <br>     
              </div>                                                                           
            </div> 

            <!--<img src="../assets/images/ic_51.png" class="my-3" alt="Angular logo">-->

            <br>

            

          </div>

        </div>
      </div>
   
    
    </div>
  </div>

  <!---->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 targetinfo">
        <div class="card">
          <div class="card-body">
            <h5>Utilizamos lenguajes de programaci&oacute;n</h5>
            <p class="grey-text">como:</p>
            <div class="row justyf">
              <div class="col-md-9">
                <span class="badge bg-dark shadow-lg me-1">Html-5 & Css</span>
                <span class="badge bg-dark shadow-lg me-1">Php</span>
                <span class="badge bg-dark shadow-lg me-1">Java</span>
                <span class="badge bg-dark shadow-lg me-1">JavaScript</span> 
                <span class="badge bg-dark shadow-lg me-1">Ruby</span>
                <span class="badge bg-dark shadow-lg me-1">Mysql</span>
              </div>                                                                           
            </div>
            <!--<img src="../assets/images/ic_51.png" class="my-3" alt="Angular logo">-->
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 targetinfo">
        <div class="card">
          <div class="card-body">
            <h5>Aplicaciones web</h5>
            <p class="grey-text">como:</p>
            <div class="row justyf">
              <div class="col-md-9">
                <span class="badge bg-dark shadow-lg text-white me-1">Punto de venta</span>
                <span class="badge bg-dark shadow-lg text-white me-1">Control de inventario</span>                                
              </div>                                                                           
            </div>
            <!--<img src="../assets/images/ic_51.png" class="my-3" alt="Angular logo">-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--TARGET-->
