  <!--title-->
  <div class="bg-dark">
  
    <h5 class="display-5 fw-bold" style="color: white; text-align: center;">
    Nuestra ubicaci&oacute;n
    </h5><hr class="container" style="color: white; background-color: white;">
   </div>
   <!--title--> 
<div class="row">
    <div class="hijo" style="overflow:hidden;resize:none;max-width:100%;width:500px;height:500px;"><div id="googlemaps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=los+mochis+calle+articulo+123+2356&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="codefor-google-map" href="https://www.embed-map.com" id="injectmap-data">https://www.embed-map.com</a><style>#googlemaps-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
  </div>
