<router-outlet></router-outlet>
<!--navbar--> 
<app-navbar></app-navbar>
<!--navbar-->
<!--svg-navbar-->
<app-svg-navbar></app-svg-navbar>
<!--svg-navbar-->
<!--social bar-->
<app-social-bar></app-social-bar>
<!--social bar-->
 <!--Intro-presence-->
 <app-intro-presence></app-intro-presence>
 <!--Intro-presence-->
  <!--Nosotros-->
 <app-nosotros></app-nosotros>
  <!--Nosotros-->
 <!--Extra-info-->
 <app-extra-info></app-extra-info>
 <!--Extra-info-->
 <!--Info-Grid-->
 <app-info-grid></app-info-grid>
 <!--Info-Grid-->
<!--form modal-->
<app-contact></app-contact>
<!--form modal-->
<!--planes y paquetes-->
<app-planes></app-planes>
<!--planes y paquetes-->
<!--Maps-->
<!--<app-map></app-map>-->
<!--Maps-->
<!--footer-->
<app-footer></app-footer>
<!--footer-->


